@{
    ViewBag.Title = "Register";
}

<div class="registration_container">
    <div id="content">
        <div class="row">
            <div class="col-sm-offset-1 col-md-offset-2 col-sm-10 col-md-8 col-xs-12">
                <div class="wizard-header">
                    <div class="label-big">New User Registration</div>
                    <div class="label-small">Step 2 of 4:</div>
                    <div class="label-normal">Business Area</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-md-offset-2 col-sm-10 col-md-8 col-xs-12">
                @using (Html.BeginForm("Step2", "Register", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Step2form" }))
                {
                    var BusinessArea = new List<String>()
                    {   "IT",
                        "ADMINISTRATIVE",
                        "CUSTOMER SERVICE",
                        "SALES",
                        "PROGRAMMING",
                        "RESEARCH",
                        "HUMAN RESOURCES",
                        "AD SALES",
                        "OPERATIONS / ENGINEER",
                        "LEGAL",
                        "FINANCE",
                        "PUBLIC AFFAIRS",
                        "MARKETING"
                    };

                    @Html.AntiForgeryToken()
                    //@Html.ValidationSummary("", new { @class = "text-danger" })
                    <table>
                        <tr>
                            <td>
                                @foreach (string item in BusinessArea)
                                {
                                <div class="form-group" style="margin-bottom:0px">
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding:0">
                                        <input id="@item" type="checkbox" name="names" @*name="@item"*@ value="@item">
                                        <label for="@item" class="check-label"></label>
                                    </div>
                                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                        @Html.Label(item, new { @class = "control-label upperCase" })
                                    </div>
                                </div>
                                }
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="info-step2">
                                        <div>
                                            Instructions:
                                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        </div>
                                        <label class="control-label" style="text-align:left">
                                            Please select your personal business area. Check all that apply.
                                        </label>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>

    </div>
    <div id="foo">
        <div class="col-sm-offset-1 col-md-offset-2 col-sm-10 col-md-8 col-xs-12">
            <div class="row">
                <a class="prevent-history a-hidden-xs" href="/Login">Back to Login Page</a>
                <input type="button" name="btnNext" class="prevent-history btn-next" value="next" onclick="SubmitForm()" />
                <input type="button" id="id_prev" class="btn-prev" value="Previous" onclick="location.href = '/Register/Step1'">
            </div>
            <div class="row">
                <a class="prevent-history a-visible-xs" href="/Login">Back to Login</a>
                <div class="registration_copyright">
                    <span class="a-hidden-xs">CORAL MULTI-SIDED PLATFORM 0.2.6.95 iQA</span>
                    <span class="a-visible-xs">CORAL PLATFORM 0.2.6.95 iQA</span>
                    <sub class="images_logo_png"></sub>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <span id="header_image" alt="Logo"></span>
                    <span class="modal-title" id="myModalLabel">Business Area</span>
                </div>
            </div>
            <div class="modal-body">
                <span class="control-label">Please select your personal business area.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-prev" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    function SubmitForm() {
        var form = $('#Step2form');
        var chackedSomeOne = $('#Step2form input:checkbox:checked').val();
        if (chackedSomeOne) form.submit();
        else $("#myModal").modal('show');
    };

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




