<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/img/logo.ico">

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @*@Scripts.Render("~/bundles/jquerymask")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @*opentip*@
    @Scripts.Render("~/bundles/opentip")
    @Styles.Render("~/Content/opentip")
    @Scripts.Render("~/bundles/MyAwesomeScript")
    @RenderSection("scripts", required: false)

</head>
<body>
    @RenderBody()
</body>
</html>
